  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      
      <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/materialize.min.css')}}" media="screen,projection"/>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <TITLE>Adoa</TITLE>
    <body>
      <style>
        body{
          background-image: url(static/images/educacion.jpeg);
          background-size: 100%;
          background-repeat: no-repeat;
          background-attachment:fixed;
          
        }
        
    .card{
          background: rgba(255, 255, 255, 1);

        }
    input::-webkit-input-placeholder {
  color: black;
}
        .tabs .indicator { background-color: #000000;
        height:3px; }   
      </style>
                
       <div class="navbar-fixed">
        <nav class="red accent-4">
          <div class="container">
            <div class="nav-wrapper">
              <a href="#" class="brand-logo">ADOA</a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                  <li><a href="{{url_for('inicio')}}"><i class="material-icons left">home</i>Inicio</a></li>
                  <li class="disable"><a href=""><i class="material-icons left">account_circle</i>Nombre Usuario</a></li>
                  <li><a class='dropdown-trigger' data-constrainwidth="false" href='#' data-target='dropdown1'><i class="material-icons">keyboard_arrow_down</i></a>
                        <ul id='dropdown1' class='dropdown-content' >
                          <li><a href="{{url_for('perfil')}}">Mi Perfil</a></li>
                          <li class="divider" tabindex="-1"></li>
                          <li><a href="{{url_for('password')}}">Cambiar Contraseña</a></li>
                          <li class="divider" tabindex="-1"></li>
                          <li><a href="{{url_for('index')}}">Cerrar sesión</a></li>
                          <li class="divider" tabindex="-1"></li>
                          <li><a href="{{url_for('reportar')}}">Reportar Problema</a></li>
                        </ul>
                  </li>
                  
                </ul>
            </div>
          </div>
        </nav>
      </div>
       
        <div class="container">
            <form id="editarPerfil" class="col s8" action="/editarPerfil2" method="POST">         
               <div class="card">  
                       
                     <img class="responsive-img" src="{{url_for('static',filename='images/descarga (3).jpeg')}}" align="left">  
                     <div class="container">          
                        <div class="input-field col s4">
                                  <input value="{{nombre}}" id="first_name" type="text" name="nombre" class="validate"  required="" aria-required="true">
                        </div> 
                        <div class="input-field col s4">
                                  <input value="{{apellido}}" id="last_name" type="text" name="apellido" class="validate"  required="" aria-required="true">
                        </div>    
                        <div class="row">
                              <div class="col s12"><h6 class=black-text>Sexo</h6></div>
                              <div class="col s1"></div>
                              <label>
                                  <input class="with-gap" name="sexo" value="f" type="radio"/>
                                    <span class=black-text>Femenino</span>
                              </label>
                              <label>
                                  <input class="with-gap" name="sexo" value="m" type="radio"  />
                                    <span class=black-text>Masculino</span>
                              </label>
                          
                        </div>  
                        <div class="row"> 
                              <div class="input-field col s8">
                                    <input value="{{carrera}}" id="carrera" type="text" name="carrera" class="validate"  required="" aria-required="true">
                              </div>
                        </div>
                        <div class="row"> 
                              <div class="input-field col s8">
                                    <input value="{{email}}" id="email" name="email" type="text" class="validate"  required="" aria-required="true">
                              </div>
                        </div>
                         <button class="btn waves-effect waves-light right"  type="submit" name="action">Editar
                                  <i class="material-icons right">edit</i>
                         </button> 
                      </div>
                 </div>   
             </form>        
        </div>
     

      <!--JavaScript at end of body for optimized loading-->
      <script src="{{url_for('static', filename='js/jquery.js')}}"></script>
      <script type="text/javascript" src="{{url_for('static', filename='js/materialize.min.js')}}"></script>
      <script>
          $(document).ready(function(){
          $('.sidenav').sidenav();
          $('.tabs').tabs();
          $(".dropdown-trigger").dropdown({
             coverTrigger: false
                });
            });
      </script>
    </body>
  </html>
        