<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/materialize.min.css')}}" media="screen,projection"/>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
      

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <TITLE>Adoa</TITLE>
    </head>

    <body id="home" class="scrollspy">

      <!-- add css style -->

      <style>

          .info .card{
          background: rgba(0, 0, 0, .05);
          }
        
      </style>


      <!-- navbar -->

      <div class="navbar-fixed">
        <nav class="red accent-4">
          <div class="container">
            <div class="nav-wrapper">
              <a href="#" class="brand-logo">ADOA</a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger">
                  <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                <li>
                    <a href="#links">Contacto</a>
                  </li>
                   <li>
                    <a href="{{url_for('registro')}}">Registrarse</a>
                  </li>
                  <li>
                    <a href="{{url_for('iniciarSesion')}}">Iniciar Sesion</a>
                  </li>
                </ul>
            </div>
          </div>
        </nav>
      </div>

    

      <!-- Section: Slider -->

      <section class="slider">
        <ul class="slides">
          <li>
            <img src="{{url_for('static',filename='images/compartir2.jpeg')}}" class="responsive-img">
            <div class="caption center-align">
              <h2>Comparte tus contenidos!</h2>
              <h5 class="light grey-text text-lighten-3 hide-on-small-only">Solo crea tu OA y ya estarán disponibles para otros usuarios.</h5>
            </div>
          </li>
          <li>
            <img src="{{url_for('static',filename='images/gcen_0.png')}}" class="responsive-img"> 
            <div class="caption left-align">
              <h3 class="white-text">Descarga cualquier OA desde nuestra App</h3>
              <h5 class="white-text  hide-on-small-only">Solo tienes que registrarte y listo!</h5>
            </div>
          </li>
          <li>
            <img src="{{url_for('static',filename='images/diseño.jpg')}}" class="responsive-img">
            <div class="caption right-align">
              <h2>Crea, Diseña y Exporta!</h2>
              <h5 class="light grey-text text-lighten-3 hide-on-small-only">Genera tus objetos con diseño propio y podras bajartelo a tu PC</h5>
            </div>
          </li>
          <li>
            <img src="{{url_for('static',filename='images/tra.jpeg')}}" class="responsive-img">
            <div class="caption">
              <h2 class="white-text">Trabaja de forma colaborativa</h2>
              <h5 class="light white-text  hide-on-small-only">Podras crear de forma más rápida tus OA.</h5>
            </div>
          </li>
        </ul>
      </section>


      <!-- Section: Search -->

      <section id="search" class="section section-search red accent-4 white-text center scrollspy">
        <div class="container">
          <div class="row">
            <div class="col s12">
            </div> 
          </div>
        </div>
      </section>


        <!-- Section: Información -->

        <section id="info" class="section section-info scrollspy">
          <div class="container">
            <div class="row info">
              <h4 class="center">Información</h4>
                <div class="col s12 m4">
                  <div class="card">
                    <div class="card-image">
                      <img src="https://i1.wp.com/hipertextual.com/archivo/wp-content/uploads/2014/11/material-celularis-6.jpg" class="responsive-img" alt="">
                      <span class="card-title">Patrones Pedagogicos</span>
                    </div>
                    <div class="card-content">
                      Un patrón pedagógico describe un problema que se presenta con frecuencia en el proceso de enseñanza-aprendizaje, para proponer a continuación unasolución a ese problema que ha demostrado su efectividad asemejables, de modo que esa solución puede ser adoptada ante problemas semejantes.
                    </div>
                  </div>
                </div>
                <div class="col s12 m4">
                  <div class="card">
                    <div class="card-image">
                      <img src="https://orig00.deviantart.net/20eb/f/2015/030/6/f/_minflat__dark_material_design_wallpaper__4k__by_dakoder-d8fjqzu.jpg" class="responsive-img" alt="">
                      <span class="card-title">Objetos de Aprendizaje</span>
                    </div>
                    <div class="card-content">
                      Un OA es un tipo de material educativo digital, que se caracteriza, desde el punto de vista pedagógico, por orientarse a un objetivo específico de aprendizaje, y presentar mínimamente: una serie de contenidos con el fin de abordar la temática relacionada con el objetivo, actividades que permita al alumno poner en práctica o problematizar el contenido presentado, y una autoevaluación que posibilite conocer al alumno si ha podido comprender esos contenidos vinculados al objetivo.
                    </div>
                  </div>
                </div>
                <div class="col s12 m4">
                  <div class="card">
                    <div class="card-image">
                      <img src="https://i0.wp.com/img9.uhdpixel.com/wp/a/19/minimalist-abstract-hexagon-colorful-a1949-197x111.jpg" class="responsive-img" alt="">
                      <span class="card-title center-align">Todo en Uno</span>
                    </div>
                    <div class="card-content">
                      El objetivo principal del desarrollo de este proyecto es el de poder brindar un ambiente de desarrollo, el cual pueda ofrecerles a los docentes una manera más sencilla de crear, modificar y mantener los objetos de aprendizaje. Una vez generados los objetos de aprendizaje, serán exportados en el formato SCORM, para ser visualizados en la plataforma educativa MOODLE.
                    </div>
                  </div>
                </div>

            </div>
          </div>
        </section>


      <!-- Section: Links -->

      <section id="links" class="section section-links red accent-4 white-text center scrollspy">
        <div class="container">
          <div class="row">
            <div class="col s12">
                <h4>Links de Interes:</h4>
                  <a href="https://www.facebook.com/Licenciatura-en-Sistemas-Oficial-200189220572124/" class="white-text">
                    <i class="fab fa-facebook fa-4x"></i>
                  </a>
                  <a href="https://twitter.com/unlaoficial?lang=es" class="white-text">
                    <i class="fab fa-twitter fa-4x"></i>
                  </a>
                  <a href="https://www.youtube.com/channel/UCXvcDN6Cqf5qPenBGVXJOPg?&ab_channel=CatedraIngenieriadeSoftwareUNLa" class="white-text">
                    <i class="fab fa-youtube fa-4x"></i>
                  </a>
                  <a href="http://campus.unla.edu.ar/#" class="white-text">
                    <i class="fab fa-vimeo-v fa-4x"></i>
                  </a>
                <p>© 2018 Copyright ADOA 3.0 - UNLa</p>
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Licencia Creative Commons Atribución – No Comercial – Sin Obra Derivada 4.0 Internacional</a>.
                <p>
                <li><a href="{{url_for('sugerencias')}}">Opiniones/Sugerencias</a></li>
              </p><br>
            </div>
          </div>
        </div>
      </section>


      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js">
      </script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     

      <script type="text/javascript"> 

        //Sidenav
            (function($){
              $(function(){

                  $('.sidenav').sidenav();

              }); // end of document ready
          })(jQuery); // end of jQuery name space  


        //Slider
          const slider = document.querySelector('.slider');
          M.Slider.init(slider, {
            indicators: false,
            height: 350,
            transition: 500,
            interval: 6000,
          });

        //Autocomplete
        const ac = document.querySelector('.autocomplete');
        M.Autocomplete.init(ac, {
          data: {
            "Objeto 1": null,
            "Objeto 2": null,
            "Objeto 3": null,
            "Objeto 4": null,
            "Objeto 5": null,
          }
        });

        //ScrollSpy
        const ss = document.querySelectorAll('.scrollspy');
        M.ScrollSpy.init(ss, {});

      </script>
      
    </body>
  </html>
        